@import "../../App.scss";

section {
  position: fixed;
  left: 0;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: $color_1;
  z-index: 2;

  @media screen and (max-width: 960px) {
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .icons {
    margin: 0 auto;
    padding: 1rem 0.5rem;
    width: 100%;
    min-height: 30%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .sidebar-text {
    padding: 0.5rem 1rem;
    width: 100%;
    min-height: 95px;
    height: 10%;
    text-align: center;

    a {
      color: $accent-color;
      text-decoration: none;
    }

    small {
      font-family: $text2;
      color: rgb(230, 230, 230);
    }
  }
}
