@import "../../App.scss";

.page-not-found {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: center;

  @media screen and (max-width: 960px) {
    grid-area: 2 / 1 / 3 / 3;
  }

  .page-not-found-container {
    margin: 0 auto;
    min-width: 360px;
    max-width: 720px;
    width: 96%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    .page-not-found-header {
      margin: 0 auto;
      max-width: 500px;
      width: 100%;
      height: 400px;

      @media screen and (max-width: 767px) {
        min-height: 350px;
        height: 100%;
      }

      img {
        width: 100%;
      }

      img[alt="404"] {
        color: $color_1;
        font-size: 11rem;
        font-family: $text1;
        font-weight: 700;
      }

      h3 {
        margin-top: 1rem;
        font-size: 2rem;
        font-family: $text1;
        color: $accent-color;
        line-height: 2;
      }

      p {
        font-size: 1.4rem;
        font-family: $text3;
        color: $color_1;
      }
    }

    a {
      margin: 0 auto;
      text-decoration: none;
    }

    .button-wrapper {
      margin: 2rem auto;
      button {
        @include button;
        color: whitesmoke;
        font-family: $text1;
        font-size: 1.2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin-left: 1rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  footer {
    font-family: $text2;
    color: rgb(99, 99, 99);
    a {
      color: rgb(70, 70, 70);
    }
  }
}
